<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Recipe Resort</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
    <body>
            <!-- 
    Bootstrap code taken and modified from: https://startbootstrap.com/snippets/full-slider/ -->
    
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
        <div class="container">
            <a href="/login"><img id="logo" src="/assets/img/logo.png" alt="Recipe Resort logo"/></a>
            <a class="navbar-brand" href="/login">Recipe Resort</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/deleteRecipe">Delete Recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Change Password</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="recipes"></section>
<h3 class="makeRecipeh3">Create a Recipe</h3>
  <section id="makeRecipe">
  </section>
        
      <div class="search">
        <h3 class="searchRecipeh3">Search Recipe</h3>
          <form class="searchForm" name="searchForm" method="GET">
            <input type="text" class="searchForm input" placeholder="Search By Recipe Name">
            <button class="formSubmit" type="button" onclick="searchData()">Search Recipe</button>
            </form>
      </div>
    <script src="/assets/searchBundle.js"></script>

  <div id="recipeMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3><img id="recipe" src="assets/img/errorIcon.png" alt="recipe" />
  </div>
<div id="success"><img id="speech" src="/assets/img/speech.png" alt="speech box"/></div>
  <script src="/assets/bundle.js"></script>
</body>

</html>